[submodule "submodules/wallet"]
	path = submodules/wallet
	url = git@github.com:project-origin/wallet.git
[submodule "submodules/registry"]
	path = submodules/registry
	url = git@github.com:project-origin/registry.git
[submodule "submodules/stamp"]
	path = submodules/stamp
	url = git@github.com:project-origin/stamp.git
[submodule "submodules/verifier_electricity"]
	path = submodules/verifier_electricity
	url = git@github.com:project-origin/verifier_electricity.git
[submodule "submodules/chronicler"]
	path = submodules/chronicler
	url = git@github.com:project-origin/chronicler.git
